<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Front Page</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a class="nav-link align-middle px-0 text-white" asp-area="Admin" asp-controller="Home" asp-action="ClearFrontData">
                            <i class="bi bi-arrow-repeat"></i> <span class="ms-1 d-none d-sm-inline">Clear Front Data </span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0 text-white">
                            <i class="bi bi-person"></i> <span class="ms-1 d-none d-sm-inline">User</span>
                        </a>
                    </li>
                   
                    <li>
                        <a asp-action="Index" asp-controller="Teacher" asp-area="Admin" class="nav-link px-0 align-middle text-white">
                            <i class="bi bi-people-fill"></i> <span class="ms-1 d-none d-sm-inline">Teachers</span>
                        </a>
                    </li>
                    
                    
                    <li>
                        <a asp-action="Index" asp-controller="Student" asp-area="Admin" class="nav-link px-0 align-middle text-white">
                            <i class="bi bi-columns-gap"></i> <span class="ms-1 d-none d-sm-inline">Students</span>
                        </a>
                    </li>

                    <li>
                        <a asp-action="Index" asp-controller="Group" asp-area="Admin" class="nav-link px-0 align-middle text-white">
                            <i class="bi bi-sliders"></i> <span class="ms-1 d-none d-sm-inline">Groups</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="CreateOrUpdate" asp-controller="Setting" asp-area="Admin" class="nav-link px-0 align-middle text-white">
                            <i class="bi bi-gear"></i> <span class="ms-1 d-none d-sm-inline">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Message" asp-area="Admin" class="nav-link px-0 align-middle text-white">
                            <i class="bi bi-chat-left"></i> <span class="ms-1 d-none d-sm-inline">Messages</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle"></i>
                        <span class="d-none d-sm-inline mx-1">User Name</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
       