<div class="row pl-1 pr-1">
    <div class="col-4" style="height:100px;border:solid 1px black">Test0</div>
    <div class="col-4" style="height:100px;border:solid 1px black">Test1</div>
    <div class="col-4" style="height:100px;border:solid 1px black">Test2</div>
</div>